/*--------------------------------------------------------------*
    START DISAPPROVERS EPISODE STYLE
 *--------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

div.story-row > *
{
    box-sizing: border-box;
    color: #000!important;
}

div.story-row{
    clear:both;
    overflow: visible;
    padding-bottom: 1em;
    font-family: 'Droid Serif'!important;
    font-size: 125%;
    line-height: 175%;
}

/* ------- LAST WEEK ON DISAPPROVERS ------- */
div.story-txt.story-last-week
{
    padding: 1em!important;
    background-color: #efefef;
}

div.story-header div.story-last-week strong
{
    text-transform: uppercase;
    font-size:inherit!important;
}

/* ------- END LAST WEEK ON DISAPPROVERS ------- */
div.story-row.story-header div.story-pix a
{
    text-align: center;
    float: none!important;
    width:100%!important;
    line-height: 0;
    font-size: 0;
}

div.story-row.story-header div.story-pix a img
{
    height: 100%!important;
    min-height: 200px!important;
    width: 100%!important;
    max-width: 100%!important;
    border:none;
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 0;
}

div.story-row.story-header div.story-pix,
div.story-row.story-header div.story-txt
{
    width:100%;
    clear:both;
    float: none;
}

div.story-row.story-header div.story-txt{
    padding:1em 0em;
}



div.story-txt{
    float: right;
    width:80%;
    padding:0 3.5em 1.75em 3.5em;
    color:#333!important;
    overflow: visible!important;;
}

div.story-pix{
    float:left;
    width:20%;
    text-align: right;
}

div.story-pix a{
    display: block;
    float: right!important;
    clear: both!important;
    margin:0!important;
    margin-bottom:1em!important;
    padding: 0!important;
}

/* --------- thumbnail tool tip ------------ */
div.story-row div.story-txt span.disapprover-pix-tip
{
    border-bottom:1px dotted #666;
    position: relative;
}
div.story-row div.story-txt span.disapprover-pix-tip:hover
{
    color: #97000e;
}

/* one for each character */
.touched:after,
.disapprover-pix-tip:after{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    content: " ";
    display: none;
    position: absolute;
    top:1.1em;
    left:0px;
    width:70px;
    height: 70px;
    border-radius:70px;
    box-shadow: 3px 3px 3px #999;
    border:1px solid #000;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    z-index:10000!important;
    
}
/* for touch event - hide tip */
.touched-hidden:hover:after{
    display: none;
}

.touched:hover:after,
.disapprover-pix-tip:hover:after
{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    display: block;
}

.disapprover-pix-tip.molly:after { background-image: url('//4.bp.blogspot.com/--7Fnusj78tg/Vg5g2ee2dcI/AAAAAAAAD0c/h85aEdLkJjE/s200/suzy-and-molly-in-bunndo_1.jpg'); }
.disapprover-pix-tip.abby:after{ background-image: url('//1.bp.blogspot.com/-zBwaHqFa3e0/VjtF8F283bI/AAAAAAAAEEI/uToF7pVK4PY/s1600/abby-noming-hay.jpg'); }
.disapprover-pix-tip.mr-toes:after{ background-image: url('//1.bp.blogspot.com/-rJ5RMJeXHeI/VkXLMtwR3PI/AAAAAAAAEH4/IYN7sb8x-1g/s1600/mr-toes-face-close-up.jpg'); }
.disapprover-pix-tip.suzy:after{ background-image: url('//4.bp.blogspot.com/-MIs7vARdVYQ/VjtGJGCYHtI/AAAAAAAAEE4/N7WQjpUDDyg/s1600/suzy-close-uup.jpg'); }
.disapprover-pix-tip.cleo:after{ background-image: url('//1.bp.blogspot.com/-9vSwWK_LYCg/VXRgFicfGuI/AAAAAAAACrE/VbC4kiYaNCs/s1600/binky-free-cleo_1.jpg'); }

.disapprover-pix-tip.pancake:after{ background-image: url('https://1.bp.blogspot.com/-fAv6IYJ_JEU/V3V5N9j2zVI/AAAAAAAAFr4/UQ8FGFfH_SQG-YfjT4Cf16oFCuUTtI_0QCLcB/s1600/pancake-thumb.jpg'); }
.disapprover-pix-tip.ava:after{ background-image: url('https://4.bp.blogspot.com/-kgXZ0YnAVes/V3V5N0Tt6RI/AAAAAAAAFr0/2jowwQHy2hIgdLkZG3zRZS5Tg-vFglqxQCLcB/s1600/ava-thumb.jpg'); }
.disapprover-pix-tip.penny:after{ background-image: url('https://3.bp.blogspot.com/-3nXtphCJh1k/V3V5OEMCKLI/AAAAAAAAFsA/IDH_DjfzwhUn-K50W8Ir_1hD6YUUhWfmQCLcB/s1600/penny-thumb.jpg'); }
.disapprover-pix-tip.lincoln:after{ background-image: url('https://3.bp.blogspot.com/-v7U8_4noF5U/V3V5N3OOTDI/AAAAAAAAFrw/glAQDV37RustlDkMXv_JKv-Ii4MVBMZNwCLcB/s1600/lincoln-thumb.jpg'); }
.disapprover-pix-tip.quinn:after{ background-image: url('https://3.bp.blogspot.com/-NLJkMOGTGRk/V3V5OMhVV-I/AAAAAAAAFr8/7lXKpTgJcG8kBcK_8pe01q1ZtZfWXU4nQCLcB/s1600/quinn-thumb.jpg'); }
.disapprover-pix-tip.sammy:after{ background-image: url('https://1.bp.blogspot.com/-n2Cy3GxYrcY/V3XBWJXUCMI/AAAAAAAAFsQ/dthxNsWlcgcnKKAXR7OW7_zYX7q4NRe-ACLcB/s1600/sammy-thumb.jpg'); }



.disapprover-pix-tip.zeus:after{ 
    background-image: url('//1.bp.blogspot.com/-Z2mfPTICUMs/VofNlQE4lTI/AAAAAAAAEeA/Q6wbIbT2Y3g/s200/zeus.jpg'); 
    background-position: -50px center!important;
}

.disapprover-pix-tip.milly:after,
.disapprover-pix-tip.mila:after
{ background-image: url('//2.bp.blogspot.com/-xGQ9Mxo-gZs/VjNPyLNFfjI/AAAAAAAAEBo/rhqSrLnddp8/s1600/mila.jpg'); }
.disapprover-pix-tip.frankie:after{ background-image: url('//2.bp.blogspot.com/-8WTlwh-C1ww/VmF7R5Y5NfI/AAAAAAAAESM/BL9evQqxkUE/s200/frankie.jpg'); }
.disapprover-pix-tip.freddie:after{ background-image: url('//1.bp.blogspot.com/-jgcdDShlrT8/Vnc1UvywPfI/AAAAAAAAEZE/Dkp_53BckFE/s200/freddie-in-the-tree-small.jpg'); }
.disapprover-pix-tip.apollo:after{ background-image: url('//4.bp.blogspot.com/-KlnYunJml-s/VkXJpi2_bSI/AAAAAAAAEHc/hBtbfouQIvc/s1600/apollo.jpg'); }
.disapprover-pix-tip.izzie:after{ background-image: url('//4.bp.blogspot.com/-Np9gome72Ag/VrSHyyy6eSI/AAAAAAAAEus/9p-XTvhE-LU/s200/milla-and-izzy.jpg'); }

.disapprover-pix-tip.bruno:after{ background-image: url('//1.bp.blogspot.com/-QHXYF7PFveY/VhkNdSpg-dI/AAAAAAAAD24/C6GfWan6Nnk/s1600/bruno-looking-stern_1.jpg'); }

/* --------- END thumbnail tool tip ------------ */

/* ---------- thumbnail caption ------------ */
div.story-pix small{
    font-size:80%;
    font-style: italic;
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: relative;
    top:-20px;
    display: block;
    float: right;
    clear: both;
}

div.story-pix a img
{
    max-width: 200px!important;
    width: 100%!important;
    height: auto
}

/* ------------- FOOTER --------------- */
div.story-footer{
    font-weight: bold;
    font-style: oblique;
    clear:both;
}

div.story-footer a{
    font-weight: normal;
    
    padding-top:2em;
    padding-bottom: 1em;
    display: inline-block;
    font-style: normal;
}

div.about-us-link{
    font-weight: bold;
    padding:1em;
    background-color: #efefef;
    font-style: normal
}

div.about-us-link a{
    font-weight: bold;
    padding:0;
}
@media screen and ( max-device-width: 640px ){
    div.story-row div.story-txt{
        font-size: 2em;
        line-height: 1.5em;
        padding: 0 1em 1.5em 1em;
    }

    div.story-row.story-header > div.story-txt {
        font-size: 1.95em;
        line-height: 1.75em;
    }

}
/*--------------------------------------------------------------*
    END DISAPPROVERS EPISODE STYLE
 *--------------------------------------------------------------*/